

.header{
    background-color:skyblue;
    display: flex;
    /*justify-content: space-evenly; == espaça igualmente todos elementos da classe*/
    justify-content: space-between;
}

h1 {
    color: royalblue;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 100px;
}


a{
    color: royalblue;

}

h2{
    font-size: 14px;
    margin-right: 50px;
}

.about p{
 
   text-align: center;
}



.projetos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.projetos p{
    text-align: center;
}


.item p{
    opacity: 0;
    display: flexbox;
    justify-content: center;
   
}
.item:hover p{
    opacity: 1
}

.item:hover img{
    opacity: 0.33;
}